<nav class="menu">
  <a [routerLink]="['']" class="comida-card-link">
    <div class="logo">🥗 Planificador Saludable</div>
  </a>

  <!-- Botón hamburguesa visible solo en móvil -->
  <button class="menu-toggle" (click)="menuAbierto = !menuAbierto">☰</button>

  <!-- Menú de navegación -->
  <div class="nav-links" [ngClass]="{ open: menuAbierto }">
    <a routerLink="/comidas" routerLinkActive="active">Comidas</a>
    <a routerLink="/planificacion" routerLinkActive="active">Planificación</a>
  </div>
</nav>

<main class="contenido">
  <router-outlet></router-outlet>
</main>
