<div class="card-form">
  <h2>Agregar nueva comida</h2>

  <form id="formulario-comida" [formGroup]="form" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombre de la comida</label>
      <input formControlName="nombre" type="text" required />
    </div>

    <div class="form-group">
      <label class="file-label">Imagen (opcional)</label>
      <div class="file-upload">
        <input type="file" id="file-input" (change)="onImagenSeleccionada($event)" />
        <label for="file-input" class="file-button">📸 Seleccionar imagen</label>
      </div>
      <img *ngIf="imagenPreview" [src]="imagenPreview"class="preview fade-in"/>
     
    </div>

    <div formArrayName="ingredientes">
      <h3>Ingredientes</h3>
      <div *ngFor="let ingr of ingredientes.controls; let i = index" [formGroupName]="i" class="ingrediente-card">
        <div class="campo">
          <label>Nombre del ingrediente</label>
          <input formControlName="nombre" placeholder="Ej: Pechuga de pollo" />
        </div>
    
        <div class="campo">
          <label>Peso en gramos</label>
          <input formControlName="gramos" type="number" placeholder="Ej: 200" />
        </div>
    
        <div class="campo">
          <label>Calorías por 100g</label>
          <input formControlName="caloriasPor100g" type="number" placeholder="Ej: 120" />
        </div>
    
        <div class="campo">
          <label>Proteínas por 100g</label>
          <input formControlName="proteinas" type="number" placeholder="Ej: 23" />
        </div>
    
        <div class="campo">
          <label>Grasas por 100g</label>
          <input formControlName="grasas" type="number" placeholder="Ej: 1.5" />
        </div>
    
        <div class="campo">
          <label>Hidratos de carbono por 100g</label>
          <input formControlName="hidratos" type="number" placeholder="Ej: 0" />
        </div>
    
        <button type="button" (click)="eliminarIngrediente(i)">❌</button>
      </div>
    
      <button type="button" (click)="agregarIngrediente()">➕ Añadir ingrediente</button>
    </div>
    

    <button class="btn-guardar" type="submit" [disabled]="form.invalid">Guardar comida</button>
  </form>
  
</div>
