.verificacion-container {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding: 2rem;
  
    button {
      margin-top: 1rem;
      display: block;
      width: 100%;
    }
  }
  