<section class="contenedor-comidas">
  <app-comida-form (comidaGuardada)="agregarComida($event)"></app-comida-form>
     
  
    <div class="filtro-favoritos">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="mostrarSoloFavoritos">
        <span class="slider"></span>
      </label>
      <span>{{ mostrarSoloFavoritos ? 'Mostrar solo favoritos ⭐' : 'Mostrar todo 🍽️' }}</span>
    </div>
    
    <h2>Historial de comidas</h2>
    <app-comida-list
    [comidas]="comidasFiltradas"
    (favoritoCambiado)="toggleFavorito($event)"
    (comidaEliminada)="eliminarComida($event)">
  </app-comida-list>

  <h2>🤖 Recomendaciones generadas por la APP</h2>
  <div *ngIf="comidasIA.length === 0" class="mensaje-vacio-ia">
    
    <p>
      🧠 Aún no has generado ningún plato personalizado.<br />
      <strong>Diseña tu primer menú según tus objetivos y transforma tu alimentación.</strong>
    </p>
    <button (click)="irAMenuInteligente()" class="boton-inteligente">
      ⚡ Generar menú inteligente
    </button>
  </div>
  <div *ngIf="comidasIA.length > 0">
    <app-comida-list
  [comidas]="comidasIA"
  (comidaEliminada)="eliminarComidaIA($event)"
  (favoritoCambiado)="toggleFavoritoIA($event)">
</app-comida-list>

  </div>
  
  </section>
  <section class="affiliate-section">
    <h3>Recomendaciones para tu cocina 🔥</h3>
    <div class="affiliate-carousel">
      <div *ngFor="let prod of affiliateProducts" class="affiliate-card">
        <a
          [href]="prod.link"
          target="_blank"
          rel="noopener"
          class="card-link"
        >
          <div class="card-image-wrapper">
            <img [src]="prod.imageUrl" [alt]="prod.title" />
          </div>
          <div class="card-content">
            <h4>{{ prod.title }}</h4>
            <button class="btn-compra">¡Comprar ahora!</button>
          </div>
        </a>
      </div>
    </div>
  </section>
  