<div class="auth-scene"  [class.mobile]="isMobile">
    <div class="auth-card" [class.flipped]="showRegister && !isMobile">
      
      <!-- Cara frontal: Login -->
      <div class="auth-face front" [class.visible]="!showRegister || isMobile">
        <h2>Iniciar Sesión</h2>
        <form (ngSubmit)="login()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" required />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password" required />
          </mat-form-field>
  
          <button mat-flat-button color="primary" class="full-width" type="submit">Entrar</button>
          <p class="switch" (click)="toggle()">¿No tienes cuenta? <span>Regístrate</span></p>
        </form>
      </div>
  
      <!-- Cara trasera: Registro -->
      <div class="auth-face back" [class.visible]="showRegister || isMobile">
        <h2>Registro</h2>
        <form (ngSubmit)="register()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" required />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password" required />
          </mat-form-field>
  
          <button mat-flat-button color="accent" class="full-width" type="submit">Registrarse</button>
          <p class="switch" (click)="toggle()">¿Ya tienes cuenta? <span>Inicia sesión</span></p>
        </form>
      </div>
  
    </div>
  </div>
  