<div class="volver-wrapper">
  <button mat-icon-button (click)="volver()" aria-label="Volver">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="auth-container" [@pageLoad]>
  <h2 class="title">{{ showRegister ? 'Registro' : 'Inicio de Sesión' }}</h2>
  <form (ngSubmit)="showRegister ? register() : login()">
    <!-- Campo para el correo electrónico -->
    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        placeholder="Correo electrónico"
        [(ngModel)]="email"
        name="email"
        required>
    </mat-form-field>

    <!-- Campo para la contraseña -->
    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
        name="password"
        required>
    </mat-form-field>
    <!-- Enlace para recuperar contraseña -->

    <!-- Campo para confirmar contraseña (solo en registro) -->
    <div *ngIf="showRegister" [@toggleAnimation]>
      <mat-form-field appearance="outline" class="full-width">
        <input
          matInput
          type="password"
          placeholder="Confirmar Contraseña"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required>
      </mat-form-field>
    </div>
    <div *ngIf="showRegister" class="requisitos-password">
      <p>La contraseña debe contener:</p>
      <ul>
        <li>🔒 Al menos 6 caracteres</li>
        <li>🔠 Una letra mayúscula</li>
        <li>🔡 Una letra minúscula</li>
        <li>🔢 Un número</li>
      </ul>
    </div>
    <!-- Botón de envío -->
    <button mat-raised-button color="primary" type="submit" class="full-width">
      {{ showRegister ? 'Registrarse' : 'Iniciar Sesión' }}
    </button>
  </form>

  <!-- Enlace para alternar entre login y registro -->
  <div class="toggle-link">
    <a (click)="toggle()" style="cursor: pointer;">
      {{ showRegister ? '¿Ya tienes cuenta? Inicia sesión' : '¿No tienes cuenta? Regístrate' }}
    </a>
  </div>
  <div *ngIf="!showRegister" class="forgot-password">
    <a (click)="recuperarContrasena()" style="cursor: pointer;">
      ¿Has olvidado tu contraseña?
    </a>
  </div>
</div>
