<!-- Carrusel de afiliados -->
<div class="grid-comidas">
  <div *ngIf="comidas.length === 0" class="mensaje-vacio">
    <p>🍽️ ¿Tienes hambre de progreso? <br /> Añade tu primera comida.</p>
    <button (click)="scrollAlFormulario()" class="boton-progreso">➕ Agregar comida</button>
  </div>

  <div class="comida-card" *ngFor="let comida of comidas">

    <div class="imagen-wrapper">
      <a [routerLink]="['/comidas', comida.id]" class="comida-card-link">
        <img [src]="comida.imagenUrl || 'assets/imgPredeterminadaCars.png'" alt="Imagen de la comida" />
      </a>
    </div>

    <div class="contenido">
      <h3>{{ comida.nombre }}</h3>
      <p><strong>Ingredientes:</strong> {{ comida.ingredientes?.length || 0 }}</p>

      <p><strong>Creado:</strong> {{ comida.fechaCreacion | date:'shortDate' }}</p>

      <!-- <div class="acciones">
        <button class="papelera" (click)="eliminarComida(comida)" title="Eliminar comida">🗑️</button>
      </div> -->
      <div class="btn-borrar-container">
        <app-delete-button (click)="eliminarComida(comida)"></app-delete-button>
     
      
      <!-- <button class="estrella" (click)="toggleFavorito(comida)">
        {{ comida.favorita ? '⭐' : '☆' }}
      </button> -->
      <app-like-button (click)="toggleFavorito(comida)"></app-like-button>
    </div>   
    </div>
  </div>
</div>


